// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #1C1427;
$cor-secundaria: #40394A;
$cor-terciaria: #7ECA9C;
$cor-quarta: #CCFFBD;
$cor-border: saddlebrown;
$cor-border--morta: #8b451336;

// Tamanhos das fontes
$tamanho-texto: 3rem;